# Canva OAuth (Connect Integrations)
CANVA_CLIENT_ID=
CANVA_CLIENT_SECRET=

# Templates
TEMPLATE_ID_REAL=
TEMPLATE_ID_PASE=
TEMPLATE_ID_ELITE=

# App
TOKEN_STORE_PATH=./token_store.json

# Telegram
TELEGRAM_BOT_TOKEN=

# Resend (envio de correos)
# Usa el formato: NombreVisible <correo@dominio.com>
RESEND_API_KEY=
RESEND_FROM_EMAIL=Qvafunded <certificados@tu-dominio.com>
